<nav class="site-header sticky-top py-1 border-gradient">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" [routerLink]="['']">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
        <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
        <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
        <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
        <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
        <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
      </svg>
    </a>
    <div class="py-2 d-flex">
      <a class="btn btn-outline-primary" [routerLink]="['register']">Sign Up</a>
    </div>
  </div>
</nav>

<div class="body">
  <div class="text-center w-50 h-100">
    <div class="form-signin">
      <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
          height="72"> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
        <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
        <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
        <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
        <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
        <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
      </svg>
      <h1 class="h3 mb-3 font-weight-normal">Enter User Details</h1>

      <input type="email" id="inputEmail" class="form-control" placeholder="Full Name" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Username" required>
      <input type="email" id="inputEmail" class="form-control" placeholder="Phone Number" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Email ID" required>

      <input type="date" style="margin-bottom: 10px;"id="inputEmail" class="form-control" placeholder="Date of Birth" required autofocus>
      <input type="email" id="inputPassword" class="form-control" placeholder="Password" required>
      <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
      <!-- <div *ngIf="isInvalid" class="py-3 error-wrapper">
        <span class="error-line" style="color: red;">Credentials are Invalid!</span>
      </div> -->
      <!-- <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Sign in</button> -->
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      <p class="mt-5 mb-3 text-muted footer">&copy; 2017-2018</p>
    </div>
  </div>
</div>